img{
    max-width:100%;
    cursor:pointer;
    border-style:solid; border-color:black;
}

.gallery{
    padding: 80px 0;
    display:inline-block;
}

.gallery-item{
    padding-bottom: 2%;
}

#gallery-modal .modal-img{
    width: 100%;
}